<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hai">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListaMetasActivity"></activity>
        <activity android:name=".DatosFinancierosActivity" />
        <activity android:name=".MetaActivity" />
        <activity android:name=".JubilaciónActivity" />
        <activity android:name=".EntretenimientoActivity" />
        <activity android:name=".DiagComidaActivity" />
        <activity
            android:name=".PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DiagnosticoActivity" />
        <activity android:name=".PerfilActivity" />
        <activity android:name=".CuponActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>